.active-video-card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: .1px solid var(--secondary-color);
}
.active-video-card-media{
    width: 100%;
    height: 70vh;
}
@media (max-width: 580px) {
    .active-video-card-media{
        height: 50vh;
    }
}
.fa-solid{
    cursor: pointer;
}
.activ-video-card-icons-container{
 padding-left: .5rem;
}
.active-video-card-bottom-content{
    margin: .5rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: small;
}
.active-video-card-bottom-content-right-side{
    display: flex;
    flex-direction: row;
    font-size: x-small;
    padding-right: .5rem;
    margin-top: .3rem;
}
.active-video-card-icons-and-tags{
margin-right: .5rem;
font-size: large;

}
.active-video-card-description-container{
    font-size: small;
    padding-left: .5rem;
}
.active-video-card-description-title{
    margin-bottom: 0;
    margin-top: 0.125rem;
}
.active-video-card-description-content{
    margin-top: 0;
}