.history-videos-body{
    width: 90%;
    margin: 0 5%;
}
.history-videos-heading-clear-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.history-videos-clear-btn{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: .5rem 1rem;
    cursor: pointer;
}
.history-videos-clear-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}
.history-videos-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  
    
}
.history-videos-card-container{
    width: 25%;
   
}