.common-container{
    display: flex;
}
.playlist-body{
    width: 90%;
    margin: 0 5%;
}
.playlist-heading-clear-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playlist-clear-btn{
    border: 1px solid var(--primary-color);
    padding: .5rem 1rem;
    color: var(--primary-color);
    cursor: pointer;
}
.playlist-clear-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}
.playlist-body-content{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playlist-body-content-playlist-name{
    margin-bottom: 0;
}
.playlist-body-content-playlist-count{
    margin-top: 0;
}
.playlist-delete-icon{
    cursor: pointer;
}