.video-card-container {
  /* width: 220px; */
  position: relative;
}
.video-card-media {
  width: 100%;
}

.video-card-btn {
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  font-size: large;
  font-weight: normal;
}
.video-card-title {
  margin: 0.25rem 0 0 0.25rem;
  font-size: normal;
  
}
.video-card-sub-title {
  margin: 0 0 .25rem .25rem;
  font-size: small;
  font-weight: bold;
}


