.liked-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}
.liked-list li{
    margin-right: 3rem;
    cursor: pointer;
}
.liked-list i{
    cursor: pointer;
}